USE [master]
GO
/****** Object:  Database [ITESIL_LAB_CONTROL]    Script Date: 17/4/2026 9:24:04 a. m. ******/
CREATE DATABASE [ITESIL_LAB_CONTROL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ITESIL_LAB_CONTROL', FILENAME = N'C:\Users\pc\Downloads\MSSQL16.MSSQLSERVER\MSSQL\DATA\ITESIL_LAB_CONTROL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ITESIL_LAB_CONTROL_log', FILENAME = N'C:\Users\pc\Downloads\MSSQL16.MSSQLSERVER\MSSQL\DATA\ITESIL_LAB_CONTROL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ITESIL_LAB_CONTROL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ITESIL_LAB_CONTROL]
GO
/****** Object:  Table [dbo].[labs]    Script Date: 17/4/2026 9:24:05 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[labs](
	[id] [uniqueidentifier] NOT NULL,
	[code] [nvarchar](50) NULL,
	[name] [nvarchar](200) NULL,
	[location] [nvarchar](200) NULL,
	[capacity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[computers]    Script Date: 17/4/2026 9:24:05 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[computers](
	[id] [uniqueidentifier] NOT NULL,
	[lab_id] [uniqueidentifier] NULL,
	[hostname] [nvarchar](150) NULL,
	[asset_tag] [nvarchar](100) NULL,
	[equipment_type_id] [uniqueidentifier] NULL,
	[status] [nvarchar](20) NULL,
	[last_seen_at] [datetime2](7) NULL,
	[notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[hostname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_lab_status]    Script Date: 17/4/2026 9:24:05 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_lab_status] AS
SELECT
    l.name,
    COUNT(c.id) AS total,
    SUM(CASE WHEN c.status = 'available' THEN 1 ELSE 0 END) AS available
FROM labs l
LEFT JOIN computers c ON l.id = c.lab_id
GROUP BY l.name;
GO
/****** Object:  Table [dbo].[access_logs]    Script Date: 17/4/2026 9:24:05 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[access_logs](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NULL,
	[action] [nvarchar](200) NULL,
	[created_at] [datetime2](7) NULL,
	[details] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[equipment_commands]    Script Date: 17/4/2026 9:24:05 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[equipment_commands](
	[id] [uniqueidentifier] NOT NULL,
	[computer_id] [uniqueidentifier] NULL,
	[command] [nvarchar](300) NULL,
	[issued_by] [uniqueidentifier] NULL,
	[issued_at] [datetime2](7) NULL,
	[status] [nvarchar](20) NULL,
	[result] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[equipment_types]    Script Date: 17/4/2026 9:24:05 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[equipment_types](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[incidents]    Script Date: 17/4/2026 9:24:05 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[incidents](
	[id] [uniqueidentifier] NOT NULL,
	[reported_by] [uniqueidentifier] NULL,
	[computer_id] [uniqueidentifier] NULL,
	[title] [nvarchar](200) NULL,
	[description] [nvarchar](max) NULL,
	[severity] [nvarchar](20) NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[licenses]    Script Date: 17/4/2026 9:24:05 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[licenses](
	[id] [uniqueidentifier] NOT NULL,
	[license_key] [nvarchar](100) NOT NULL,
	[customer_name] [nvarchar](200) NOT NULL,
	[customer_email] [nvarchar](200) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[expires_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[license_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[password_reset_requests]    Script Date: 17/4/2026 9:24:05 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[password_reset_requests](
	[id] [uniqueidentifier] NOT NULL,
	[username] [nvarchar](255) NOT NULL,
	[requested_password] [nvarchar](255) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[resolved_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[password_resets]    Script Date: 17/4/2026 9:24:05 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[password_resets](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NULL,
	[token] [nvarchar](200) NULL,
	[expires_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reservations]    Script Date: 17/4/2026 9:24:05 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reservations](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NULL,
	[computer_id] [uniqueidentifier] NULL,
	[purpose] [nvarchar](300) NULL,
	[start_at] [datetime2](7) NULL,
	[end_at] [datetime2](7) NULL,
	[returned_at] [datetime2](7) NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 17/4/2026 9:24:05 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sessions]    Script Date: 17/4/2026 9:24:05 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sessions](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NULL,
	[session_token] [nvarchar](200) NULL,
	[created_at] [datetime2](7) NULL,
	[expires_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_roles]    Script Date: 17/4/2026 9:24:05 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_roles](
	[user_id] [uniqueidentifier] NOT NULL,
	[role_id] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 17/4/2026 9:24:05 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [uniqueidentifier] NOT NULL,
	[username] [nvarchar](100) NOT NULL,
	[email] [nvarchar](200) NOT NULL,
	[password_hash] [nvarchar](500) NOT NULL,
	[full_name] [nvarchar](200) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[last_login] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[access_logs] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[access_logs] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[computers] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[computers] ADD  DEFAULT ('available') FOR [status]
GO
ALTER TABLE [dbo].[equipment_commands] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[equipment_commands] ADD  DEFAULT (sysdatetime()) FOR [issued_at]
GO
ALTER TABLE [dbo].[equipment_types] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[incidents] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[incidents] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[labs] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[licenses] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[licenses] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[licenses] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[password_reset_requests] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[password_reset_requests] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[password_reset_requests] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[password_resets] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[reservations] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[reservations] ADD  DEFAULT ('reserved') FOR [status]
GO
ALTER TABLE [dbo].[reservations] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[sessions] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[sessions] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[computers]  WITH CHECK ADD FOREIGN KEY([equipment_type_id])
REFERENCES [dbo].[equipment_types] ([id])
GO
ALTER TABLE [dbo].[computers]  WITH CHECK ADD FOREIGN KEY([lab_id])
REFERENCES [dbo].[labs] ([id])
GO
ALTER TABLE [dbo].[equipment_commands]  WITH CHECK ADD FOREIGN KEY([computer_id])
REFERENCES [dbo].[computers] ([id])
GO
ALTER TABLE [dbo].[equipment_commands]  WITH CHECK ADD FOREIGN KEY([issued_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[incidents]  WITH CHECK ADD FOREIGN KEY([computer_id])
REFERENCES [dbo].[computers] ([id])
GO
ALTER TABLE [dbo].[incidents]  WITH CHECK ADD FOREIGN KEY([reported_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[password_resets]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[reservations]  WITH CHECK ADD FOREIGN KEY([computer_id])
REFERENCES [dbo].[computers] ([id])
GO
ALTER TABLE [dbo].[reservations]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[sessions]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[computers]  WITH CHECK ADD CHECK  (([status]='offline' OR [status]='maintenance' OR [status]='in_use' OR [status]='available'))
GO
ALTER TABLE [dbo].[reservations]  WITH CHECK ADD CHECK  (([status]='overdue' OR [status]='cancelled' OR [status]='completed' OR [status]='active' OR [status]='reserved'))
GO
ALTER TABLE [dbo].[reservations]  WITH CHECK ADD CHECK  (([end_at]>[start_at]))
GO
USE [master]
GO
