<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- CONFIGURACIÓN DEL SISTEMA - Cambiar ServidorUrl si mueves el servidor a otra PC -->
    <!-- Recuerda colocar "http://" al inicio y el puerto ":5000" al final -->
    <add key="ServidorUrl" value="http://localhost:5000" />
  </appSettings>
</configuration>
